{{template "base" .}}

{{define "title"}}
    <title>Make Reservation | Athithi Ashray</title>
{{end}}

{{define "content"}}
<!-- Main content-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm">
          <h1 class="mt-4">Make a Reservation</h1>
          <p class="form-label">Reservation Details</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <form
            method="post"
            action="/make-reservation"
            class="needs-validation"
            novalidate
          >
            <div class="row" id="reservation">
              <div class="row">
                <div class="col mb-3">
                  <label for="firstName" class="form-label col-form-label-lg"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    aria-describedby="firstNameHelp"
                    required
                    aria-required="true"
                    autocomplete="off"
                    placeholder="Your first name"
                  />
                  <div id="firstNameHelp" class="form-text visually-hidden">
                    Provide your first name as given in your ID.
                  </div>
                  <div class="valid-feedback">Valid first name.</div>
                  <div class="invalid-feedback">First name is empty.</div>
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="lastName" class="form-label col-form-label-lg"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    aria-describedby="lastNameHelp"
                    required
                    aria-required="true"
                    autocomplete="off"
                    placeholder="Your last name"
                  />
                  <div id="lastNameHelp" class="form-text visually-hidden">
                    Provide your last name as given in your ID.
                  </div>
                  <div class="valid-feedback">Valid last name.</div>
                  <div class="invalid-feedback">Last name is empty.</div>
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="email" class="form-label col-form-label-lg"
                    >Email</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    aria-describedby="emailHelp"
                    required
                    aria-required="true"
                    autocomplete="off"
                    placeholder="Your email"
                  />
                  <div id="emailHelp" class="form-text visually-hidden">
                    Provide your email to receive info.
                  </div>
                  <div class="valid-feedback">Valid email.</div>
                  <div class="invalid-feedback">Email is empty.</div>
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="phone" class="form-label col-form-label-lg"
                    >Phone</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    aria-describedby="phoneHelp"
                    required
                    aria-required="true"
                    autocomplete="off"
                    placeholder="Your Phonenumber"
                  />
                  <div id="phoneHelp" class="form-text visually-hidden">
                    Provide your phone to be contacted for the reservation.
                  </div>
                  <div class="valid-feedback">Valid phonenumber.</div>
                  <div class="invalid-feedback">Phonenumber is empty.</div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">
              Make Reservation
            </button>
          </form>
        </div>
      </div>
    </div>
{{end}}

{{define "js"}}
<script>
      //initialize prompt modules for usage
      const alertUser = Prompt();

      // Example starter JavaScript for disabling form submissions if there are invalid fields
      function initValidation() {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll(".needs-validation");
        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                // alertUser.error({errlongText:"Check-in or Check-out dates not filled", msg:"Date is empty!"});
                alertUser.toast({
                  icon: "error",
                  msg: "Please fill in all the details!",
                });
                // alertUser.success({});
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      }
      initValidation();

      //Initialize datepicker and call it.
      const dateElem = document.querySelector("#reservation");
      const dateRangePicker = new DateRangePicker(dateElem, {
        format: "yyyy-mm-dd", //specify the date format
        clearButton: true, //Add the clear button
        // autohide: true,
        buttonClass: "btn btn-outline-primary", //Add bootstrap class to date range picker
        todayHighlight: true, //highlight today's date
        allowOneSidedRange: true, //Each date range element is independently selectable of the other.
      });

      //Prompt modules: returns several functions such as success, error, and toast
      function Prompt() {
        let toast = function (c) {
          const { msg = "Reservation accepted!", icon = "info" } = c;
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });

          Toast.fire({
            icon: icon,
            title: msg,
          });
        };

        let error = function (c) {
          const {
            title = "Error",
            msg = "Operation failed! See long text below.",
            errlongText = "",
          } = c;

          Swal.fire({
            icon: "error",
            title: title,
            text: msg,
            footer: errlongText,
          });
        };

        let success = function (c) {
          const {
            title = "Success",
            msg = "You did it!",
            successlongText = "",
          } = c;

          Swal.fire({
            icon: "success",
            title: title,
            text: msg,
            footer: successlongText,
          });
        };

        return {
          toast: toast,
          success: success,
          error: error,
        };
      }
    </script>
{{end}}
