{{template "base" .}}

{{define "title"}}
    <title>Your Lady | Athithi Ashray</title>
{{end}}

{{define "content"}}
<!--Room Images-->
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <img
          src="/static/images/room-images/queen-suite.jpg"
          class="img-fluid rounded mx-auto d-block w-50 img-thumbnail"
          alt="image of a bed with white bed sheets"
        />
      </div>
    </div>
    <!-- Main content-->
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="text-center mt-4">
            Welcome to <strong>Your Lady's room</strong>. Live life
            <em>Queen</em> size
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo
            integer malesuada nunc vel risus. Ac tortor vitae purus faucibus
            ornare suspendisse sed. Mauris vitae ultricies leo integer malesuada
            nunc vel risus commodo. Cursus sit amet dictum sit amet justo donec
            enim diam. Pharetra sit amet aliquam id diam maecenas ultricies mi.
            Tellus integer feugiat scelerisque varius morbi. Cursus metus
            aliquam eleifend mi in. Tincidunt praesent semper feugiat nibh. Eu
            feugiat pretium nibh ipsum consequat nisl vel. Aliquam id diam
            maecenas ultricies mi eget. Commodo nulla facilisi nullam vehicula
            ipsum a arcu cursus. Phasellus egestas tellus rutrum tellus
            pellentesque eu tincidunt. Suscipit tellus mauris a diam maecenas
            sed enim ut sem. Non arcu risus quis varius quam quisque id. Aliquet
            lectus proin nibh nisl condimentum. In hac habitasse platea dictumst
            vestibulum. Eget arcu dictum varius duis at consectetur lorem. Arcu
            vitae elementum curabitur vitae nunc sed. Fermentum leo vel orci
            porta non pulvinar neque laoreet suspendisse.
          </p>
          <p>
            Lectus urna duis convallis convallis tellus id interdum velit
            laoreet. Libero id faucibus nisl tincidunt eget nullam. Augue lacus
            viverra vitae congue. Eget nulla facilisi etiam dignissim. Lectus
            urna duis convallis convallis tellus id interdum velit. Eget dolor
            morbi non arcu risus quis varius quam. Mattis aliquam faucibus purus
            in massa tempor nec. Sed velit dignissim sodales ut eu sem integer
            vitae. Blandit libero volutpat sed cras. Sed enim ut sem viverra
            aliquet eget sit. Diam sollicitudin tempor id eu nisl. Sodales neque
            sodales ut etiam sit amet nisl purus in. Ultrices eros in cursus
            turpis massa. Potenti nullam ac tortor vitae purus faucibus ornare.
            Pharetra pharetra massa massa ultricies mi. Commodo odio aenean sed
            adipiscing diam. Neque viverra justo nec ultrices dui sapien eget mi
            proin. Imperdiet proin fermentum leo vel orci porta non. Urna neque
            viverra justo nec.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/search-availability" class="btn btn-success fs-3"
            >I want to book!</a
          >
        </div>
      </div>
  </div>
{{end}}